<div id="wrapper">
	<nav-bar></nav-bar>
	<div class="about" id="content">
			<div class="about-top">
				<carousel-dir slides="slides" interval="interval"></carousel-dir>
			</div>

			<div class="about-bottom">
				<h1>about me.</h1>
				<h4>I am a MEAN stack web developer based out of Dallas, TX.</h4>
				<div class="about-bottom-text">
					I graduated from University of Texas at Dallas from the <a href="http://jindal.utdallas.edu/undergraduate-programs/honors-program/">Davidson Management Honors Program </a> in 2015 with a BS in Global Business and Finance. After graduation I worked for United Capital Financial Advisers, when I was put on a project that spurred my interest in web development. My interest turned into a passion, and I decided I had to know more. A year after starting in Finance, I made a giant leap and went to <a href="https://devmountain.com/web-immersive">DevMountain</a>, an intensive three month bootcamp, to learn all the ins-and-outs of how to build web applications. <br><br>
					Now, having graduated DevMountain, I am currently working as a mentor for their current student class. The class will be ending in late November, so I'm currently looking for my next adventure with a company that inspires me.<br><br>

					In my spare time you can find me curled up at a coffee shop with my kindle. Traveling to a new place, or shredding some powder on my snowboard. I enjoy trying new things, learning about new cultures, volunteering in my community and challening myself to become a better me. <br><br>

					Want to know more? Check out my <a href="/#/portfolio">portfolio</a> or <a href="/#/contact">shoot me a message</a>.
				</div>
			</div>

	</div>
	<footer></footer>
</div>
