.home {
	.home-image {
		display: block;
		width: 100px;
		margin-top: 20vh;
		margin-bottom: 5vh;
		margin-left: auto;
		margin-right: auto;
		img {
			height:100px;
		}
	}
	.home-text {
		display: block;
		width: 450px;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		div{
			color: black;
			font-family: 'Fjalla One', sans-serif;
			font-size: 5em;
			line-height: 1em;
			margin: 10px 0 0 10px;
			white-space: nowrap;
			overflow: hidden;
			width: 30em;
			animation: type 5s steps(60, end);
		}
		div:nth-child(2){
			font-size: 3em;
			animation: type2 4s steps(60, end);
		}

		#enter{
			padding: 3px;
			padding-top: 5px;
			animation: hide 5s ;
			-webkit-animation: hide 5s ;
			color: black;
			font-size: 1.5em;
			font-family: $heading-font;
			color: white;
			border: none;
			background-color: $primary-teal;
			float: right;
			margin-top: -40px;
			margin-right: 33px;
		}

		span{
		  animation: blink 1s infinite;
		}
		@keyframes type{
		  from { width: 0; }
		}
		@keyframes type2{
		  0%{width: 0;}
		  50%{width: 0;}
		  100%{ width: 100; display: inline }
		}
		@keyframes blink{
		  to{opacity: .0;}
		}
		::selection{
		  background: black;
		}
	}







}




@keyframes hide{
	0% {opacity:0;}
	50% {opacity: 0;}
	75% {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes hide{
	 /* Safari and Chrome */
	 0% {opacity:0;}
	 50% {opacity: 0;}
	 75% {opacity: 0;}
	 100% {opacity: 1;}
 }
