.portfolio-container {
	.portfolio-heading {
		position: relative;
		margin-top: 10vh;
		display: block;
		margin-left: auto;
		margin-right: auto;
		h1 {
			margin-left: auto;
			margin-right: auto;
			width: 80%;
			color: $primary-black;
			font-family: $heading-font;
			font-size: 2.5em;
			text-align: center;
			padding-bottom: 10px;

			@media screen and (max-width: $break-small) {
				font-size: 1.5em;
			}
		}
		.portfolio-work {
			position: relative;
			margin-top: 5vh;
			margin-bottom: 50px;
			flex-wrap: wrap;
			display: flex;
			justify-content: center;

		.portfolio-project {
			flex-shrink: 50;
			position: relative;
			a {
				position: relative;
				.contain{
					height: 350px;
					width: 500px;
					position: relative;
					.project {
						img {
							display: block;
							margin-left: auto;
							margin-right: auto;
						}
					}
					.project-hover{
						height: 350px;
						width: 500px;
						position: absolute;
						top:0;
						left:0;
						opacity:0;
						border-radius:5px;
						background-color: rgba(0,0,0,0.75);

						-webkit-transition: all 0.7s ease;
						transition: all 0.7s ease;
						&:hover{
							opacity: 1;
						}
						p{
							padding-top: 150px;
							font-family: $heading-font;
							color: white;
							font-size: 3em;
							text-align: center;
							letter-spacing: 1.5px;
						}

					}
				}

				.contain-medium{
					height: 375px;
					width: 1000px;
					overflow: hidden;
					position: relative;
					@media screen and (max-width: $break-portfolio-large) {
						height: 375px;
						width: 750px;
					}
					.project {
						img {
							display: block;
							margin-left: auto;
							margin-right: auto;
						}
					}
					.project-hover{
						height: 375px;
						width: 1000px;
						position: absolute;
						top:0;
						left:0;
						opacity:0;
						border-radius:5px;
						background-color: rgba(0,0,0,0.75);

						-webkit-transition: all 0.7s ease;
						transition: all 0.7s ease;
						@media screen and (max-width: $break-portfolio-large) {
							height: 375px;
							width: px;
						}
						&:hover{
							opacity: 1;
						}
						p{
							padding-top: 150px;
							font-family: $heading-font;
							color: white;
							font-size: 4em;
							text-align: center;
							letter-spacing: 1.8px;
						}

					}
				}

				.contain-small{
					height: 250px;
					width: 250px;
					position: relative;
					.project {
						img {
							display: block;
							margin-left: auto;
							margin-right: auto;
						}
					}
					.project-hover{
						height: 250px;
						width: 250px;
						position: absolute;
						top:0;
						left:0;
						opacity:0;
						border-radius:5px;
						background-color: rgba(0,0,0,0.75);

						-webkit-transition: all 0.7s ease;
						transition: all 0.7s ease;
						&:hover{
							opacity: 1;
						}
						p{
							padding-top: 100px;
							font-family: $heading-font;
							color: white;
							font-size: 2em;
							text-align: center;
							letter-spacing: 1.8px;
						}

					}
				}
			}
		}




			#spot-assign {
				padding-top: 40px;
				height: 350px;
				width: 500px;
				background-color: #486887;
			}

			#doggie-daycare {
				padding-top: 40px;
				height: 350px;
				width: 500px;
				background-color: rgb(136, 65, 39);
				img{
					max-height: 100%;
				}
			}

			#project-three {
				padding-top: 40px;
				height: 375px;
				width: 1000px;
				background-color: rgb(54, 60, 61);
				img{
					margin-top: -213px;
					width: 100%;
				}
			}

			#sass{
				padding-top: 40px;
				height: 250px;
				width: 250px;
				background-color: rgb(72, 60, 73);
				img{
					max-height: 100%;
					max-width: 80%;
				}
			}

			#MongoDB{
				padding-top: 40px;
				height: 250px;
				width: 250px;
				background-color: #2B5034;
				img{
					max-height: 100%;
					max-width: 80%;
				}
			}

			#small-3{
				padding-top: 40px;
				height: 250px;
				width: 250px;
				background-color: rgb(189, 106, 20);
				img{
					max-height: 100%;
					max-width: 80%;
				}
			}


			#small-4{
				padding-top: 40px;
				height: 250px;
				width: 250px;
				background-color: rgb(181, 172, 55);
				img{
					max-height: 100%;
					max-width: 80%;
				}
			}




		}
	}
}
