#navBar {
  display: block;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 0;
  height: 150px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #212121;
  background-color: rgba(255, 255, 255, 0); }
  @media screen and (max-width: 538px) {
    #navBar {
      height: 100px; } }
  #navBar div {
    width: 80%;
    height: inherit;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between; }
    @media screen and (max-width: 538px) {
      #navBar div {
        width: 100%; } }
    #navBar div img {
      margin-top: 30px;
      height: 55%;
      flex-shrink: 1; }
      @media screen and (max-width: 538px) {
        #navBar div img {
          margin-top: 15px;
          height: 36%; } }
    #navBar div ul {
      width: 20%;
      display: flex;
      padding: 0;
      margin: 0;
      flex-grow: 2; }
      #navBar div ul li {
        margin-top: 60px;
        display: inline-block; }
        #navBar div ul li a {
          color: #212121;
          font-size: 1.2em;
          margin-left: 5px;
          margin-right: 5px; }
          @media screen and (max-width: 538px) {
            #navBar div ul li a {
              font-size: 1em; } }
        #navBar div ul li .active {
          font-weight: bold; }
        #navBar div ul li a:hover {
          text-decoration: none;
          font-weight: bold; }
  #navBar #left {
    justify-content: flex-start; }
    @media screen and (max-width: 538px) {
      #navBar #left {
        padding-left: 20px; } }
  #navBar #right {
    justify-content: flex-end; }
    @media screen and (max-width: 538px) {
      #navBar #right {
        padding-right: 20px; } }

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 0;
  height: 75px;
  width: 100%;
  background-color: rgba(100, 163, 160, 0.5); }
  #footer .copyright {
    font-size: 0.75em;
    padding-top: 60px;
    text-align: center; }
    #footer .copyright a {
      color: #212121; }

.project-page {
  margin-top: 10vh;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #969696;
  font-family: "Montserrat", sans-serif; }
  .project-page .row {
    margin-top: 10px; }
  .project-page ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0; }
    .project-page ul li {
      font-size: 0.75em;
      margin: 8px 10px 0px 0px;
      border: 2px #969696 solid;
      border-radius: 15px;
      padding: 5px;
      display: inline-block;
      list-style: none; }
  .project-page .project-title {
    text-align: left; }
  .project-page .project-buttons {
    text-align: right;
    color: #212121;
    font-size: 3em;
    text-decoration: none; }
    .project-page .project-buttons a:visited {
      color: #64a3a0; }
    .project-page .project-buttons a:hover {
      color: black; }
  .project-page .about p {
    text-align: justify; }
  .project-page .video {
    display: block;
    margin-left: auto;
    margin-right: auto; }

#carouselDir {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 700px; }
  @media screen and (max-width: 740px) {
    #carouselDir {
      width: 438px;
      height: 438px; } }
  @media screen and (max-width: 538px) {
    #carouselDir {
      width: 338px;
      height: 338px; } }
  #carouselDir #slides_control {
    height: inherit; }
  #carouselDir img {
    width: 100%; }
  #carouselDir #slides_control {
    width: 700px;
    left: 50%;
    top: 20px; }
    @media screen and (max-width: 538px) {
      #carouselDir #slides_control {
        width: 338px; } }
    @media screen and (max-width: 740px) {
      #carouselDir #slides_control {
        width: 438px; } }

.portfolio-container .portfolio-heading {
  position: relative;
  margin-top: 15vh;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .portfolio-container .portfolio-heading h1 {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: #212121;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5em;
    text-align: center;
    padding-bottom: 10px; }
  .portfolio-container .portfolio-heading .portfolio-work {
    position: relative;
    margin-top: 5vh;
    margin-bottom: 50px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center; }
    .portfolio-container .portfolio-heading .portfolio-work .portfolio-project {
      flex-shrink: 50;
      position: relative; }
      .portfolio-container .portfolio-heading .portfolio-work .portfolio-project a {
        position: relative; }
        .portfolio-container .portfolio-heading .portfolio-work .portfolio-project a .contain {
          height: 350px;
          width: 500px;
          position: relative; }
          .portfolio-container .portfolio-heading .portfolio-work .portfolio-project a .contain .project img {
            display: block;
            margin-left: auto;
            margin-right: auto; }
          .portfolio-container .portfolio-heading .portfolio-work .portfolio-project a .contain .project-hover {
            height: 350px;
            width: 500px;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.75);
            -webkit-transition: all 0.7s ease;
            transition: all 0.7s ease; }
            .portfolio-container .portfolio-heading .portfolio-work .portfolio-project a .contain .project-hover:hover {
              opacity: 1; }
            .portfolio-container .portfolio-heading .portfolio-work .portfolio-project a .contain .project-hover p {
              padding-top: 150px;
              font-family: "Montserrat", sans-serif;
              color: white;
              font-size: 3em;
              text-align: center;
              letter-spacing: 1.5px; }
        .portfolio-container .portfolio-heading .portfolio-work .portfolio-project a .contain-medium {
          height: 375px;
          width: 1000px;
          position: relative; }
          .portfolio-container .portfolio-heading .portfolio-work .portfolio-project a .contain-medium .project img {
            display: block;
            margin-left: auto;
            margin-right: auto; }
          .portfolio-container .portfolio-heading .portfolio-work .portfolio-project a .contain-medium .project-hover {
            height: 375px;
            width: 1000px;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.75);
            -webkit-transition: all 0.7s ease;
            transition: all 0.7s ease; }
            .portfolio-container .portfolio-heading .portfolio-work .portfolio-project a .contain-medium .project-hover:hover {
              opacity: 1; }
            .portfolio-container .portfolio-heading .portfolio-work .portfolio-project a .contain-medium .project-hover p {
              padding-top: 150px;
              font-family: "Montserrat", sans-serif;
              color: white;
              font-size: 4em;
              text-align: center;
              letter-spacing: 1.8px; }
        .portfolio-container .portfolio-heading .portfolio-work .portfolio-project a .contain-small {
          height: 250px;
          width: 250px;
          position: relative; }
          .portfolio-container .portfolio-heading .portfolio-work .portfolio-project a .contain-small .project img {
            display: block;
            margin-left: auto;
            margin-right: auto; }
          .portfolio-container .portfolio-heading .portfolio-work .portfolio-project a .contain-small .project-hover {
            height: 250px;
            width: 250px;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.75);
            -webkit-transition: all 0.7s ease;
            transition: all 0.7s ease; }
            .portfolio-container .portfolio-heading .portfolio-work .portfolio-project a .contain-small .project-hover:hover {
              opacity: 1; }
            .portfolio-container .portfolio-heading .portfolio-work .portfolio-project a .contain-small .project-hover p {
              padding-top: 100px;
              font-family: "Montserrat", sans-serif;
              color: white;
              font-size: 2em;
              text-align: center;
              letter-spacing: 1.8px; }
    .portfolio-container .portfolio-heading .portfolio-work #spot-assign {
      padding-top: 40px;
      height: 350px;
      width: 500px;
      background-color: #486887; }
    .portfolio-container .portfolio-heading .portfolio-work #doggie-daycare {
      padding-top: 40px;
      height: 350px;
      width: 500px;
      background-color: #884127; }
      .portfolio-container .portfolio-heading .portfolio-work #doggie-daycare img {
        max-height: 100%; }
    .portfolio-container .portfolio-heading .portfolio-work #project-three {
      padding-top: 40px;
      height: 375px;
      width: 1000px;
      background-color: #363c3d; }
      .portfolio-container .portfolio-heading .portfolio-work #project-three img {
        margin-top: -213px;
        width: 100%; }
    .portfolio-container .portfolio-heading .portfolio-work #sass {
      padding-top: 40px;
      height: 250px;
      width: 250px;
      background-color: #483c49; }
      .portfolio-container .portfolio-heading .portfolio-work #sass img {
        max-height: 100%;
        max-width: 80%; }
    .portfolio-container .portfolio-heading .portfolio-work #MongoDB {
      padding-top: 40px;
      height: 250px;
      width: 250px;
      background-color: #2B5034; }
      .portfolio-container .portfolio-heading .portfolio-work #MongoDB img {
        max-height: 100%;
        max-width: 80%; }
    .portfolio-container .portfolio-heading .portfolio-work #small-3 {
      padding-top: 40px;
      height: 250px;
      width: 250px;
      background-color: #bd6a14; }
      .portfolio-container .portfolio-heading .portfolio-work #small-3 img {
        max-height: 100%;
        max-width: 80%; }
    .portfolio-container .portfolio-heading .portfolio-work #small-4 {
      padding-top: 40px;
      height: 250px;
      width: 250px;
      background-color: #b5ac37; }
      .portfolio-container .portfolio-heading .portfolio-work #small-4 img {
        max-height: 100%;
        max-width: 80%; }

#home img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  -webkit-filter: grayscale;
  /*sepia, hue-rotate, invert....*/
  -webkit-filter: brightness(80%);
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0; }
@media screen and (max-width: 1024px) {
  #home {
    /* Specific to this particular image */ }
    #home img.bg {
      left: 50%;
      margin-left: -512px;
      /* 50% */ } }
#home .home-intro {
  display: block;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 10; }
  #home .home-intro p {
    color: white;
    mix-blend-mode: difference;
    font-family: 'Fjalla One', sans-serif;
    font-size: 5em;
    line-height: 1em;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 4s steps(60, end); }
  #home .home-intro p:nth-child(2) {
    animation: type2 3s steps(60, end); }
  #home .home-intro .smaller {
    font-size: 3em; }
  #home .home-intro p a {
    color: lime;
    text-decoration: none; }
  #home .home-intro span {
    animation: blink 1s infinite; }
@keyframes type {
  from {
    width: 0; } }
@keyframes type2 {
  0% {
    width: 0; }
  50% {
    width: 0; }
  100% {
    width: 100; } }
@keyframes blink {
  to {
    opacity: .0; } }
  #home .home-intro ::selection {
    background: black; }

.about .about-top {
  position: relative;
  padding-top: 10px;
  display: block; }
  @media screen and (max-width: 538px) {
    .about .about-top {
      height: 439px;
      padding-left: -80px;
      margin-left: -80px;
      padding-top: 0px; } }
  .about .about-top .about-bottom {
    display: block;
    padding-bottom: 10px;
    margin-bottom: 20px; }

.contact {
  color: #969696;
  font-size: 1.2em;
  font-family: "Josefin Sans", sans-serif; }
  .contact .contact-top {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    text-align: center; }
    @media screen and (max-width: 740px) {
      .contact .contact-top {
        width: 80%; } }
    .contact .contact-top a {
      font-size: 2em; }
  .contact form {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto; }
    .contact form label {
      margin-top: 20px; }
    .contact form .contact-button {
      display: block;
      width: 100px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      height: 45px;
      border-radius: 45px;
      border: #64a3a0 4px solid;
      background-color: transparent;
      color: #64a3a0;
      font-weight: bold;
      padding-top: 5px; }
      .contact form .contact-button:hover {
        background-color: #64a3a0;
        color: white; }
    @media screen and (max-width: 740px) {
      .contact form {
        width: 100%; } }

a:link {
  color: #969696; }

a:hover {
  color: #212121; }

a:visited {
  color: #64a3a0; }

#wrapper {
  min-height: 100vh;
  position: relative; }

#content {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px; }
  @media screen and (max-width: 538px) {
    #content {
      width: 100%;
      padding-right: 20px;
      padding-left: 20px; } }

.classic-button {
  background: rgba(255, 255, 255, 0);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  border: 2px solid black;
  font-size: 1.2em;
  color: black; }

/*# sourceMappingURL=master.css.map */
