// sass --watch public/assets/css/master.scss:public/assets/css/master.cs
// Import Themes
@import 'themes';

// Import Directives
@import './directives/navbar';
@import './directives/footer';
@import './directives/projectPage';
@import './directives/carousel';

//Import Partials
@import './partials/portfolio';
@import './partials/home';
@import './partials/about';
@import './partials/contact';

a:link {
	color: $primary-grey;
}

a:hover {
	color: $primary-black;
}

a:visited {
	color: $primary-teal;
}

#wrapper {
	min-height: 100vh;
	position: relative;
}

#content {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 100px;
	@media screen and (max-width: $break-small) {
			width: 100%;
			padding-right: 20px;
			padding-left: 20px;
	}
}


.classic-button {
	background: rgba(255, 255, 255, 0);
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	border: 2px solid black;
	font-size: 1.2em;
	color: black;
}
