$heading-font: 'Montserrat', sans-serif;
$body-font: 'Josefin Sans', sans-serif;
$accent-font: 'Fjalla One', sans-serif;
$text-font: 'Raleway', sans-serif;


$primary-black: rgb(33, 33, 33);
$primary-grey: rgb(150, 150, 150);
$primary-teal: rgb(100, 163, 160);


$break-small: 538px;
$break-medium: 740px;
$break-large: 1200px;

$break-portfolio-large: 1030px;
$break-portfolio-medium: 780px;
$break-portfolio-small: 375px;
