.project-page {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: $primary-grey;
	font-family: $text-font;

	.row {
		margin-top: 10px;
	}

	ul {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		padding: 0;
		margin: 0;
		li {
			background-color: $primary-teal;
			color: white;
			font-size: 0.75em;
			margin:8px 10px 0px 0px;
			border: 1.8px $primary-teal solid;
			border-radius: 15px;
			padding: 4px;
			display: inline-block;
			list-style: none;
		}
	}

	.project-header{
		.project-title{
			display: inline-block;
			font-size: 2em;
		}
		.project-buttons {
			margin-left: 10px;
			display: inline-block;
			color: $primary-black;
			font-size: 2em;
			text-decoration: none;
			a:visited {
				color: $primary-teal;
			}
			a:hover {
				color: black;
			}
		}
	}

	.about {
		p {
			text-align: justify;
		}
	}

	.video {
			display: block;
			margin-left: auto;
			margin-right: auto;
	}
}

.right-section{
	margin-bottom: 10px;
}

.video-frame{
	position: relative;
	border-top: rgb(221,221,221) 20px solid;
	border-bottom: rgb(221,221,221) 10px solid;
	border-left: rgb(221,221,221) 10px solid;
	border-right: rgb(221,221,221) 10px solid;
	border-radius: 10px;
	.circle {
		position: absolute;
		height: 10px;
		width: 10px;
		font-size: 0.5em;
		text-align: center;
		color: black;
		border-radius: 10px;
		margin-top: -15px;
	}
	.red{
		background-color: rgb(216,76,76);
		margin-left: -5px;
	}
	.yellow{
		background-color: rgb(214,181,71);
		margin-left: 8px;
	}
	.green{
		background-color: rgb(135,198,80);
		margin-left: 20px;
	}
}
