<div>
	<nav-bar></nav-bar>
	<div class="portfolio-container">
		<div class="portfolio-heading">
			<h1>-Taryn Gabbert is a freelance web developer, entrepreneur, and philantropist living in Dallas, TX.</h1>

			<div class="portfolio-work">
				<a href="/#/portfolio/spotAssign">
					<div class="project" id="spot-assign">
						<img src="public/assets/images/projects/spotaccessmark_icon.png">
					</div>
				</a>
				<div class="project">
					<img src="http://placehold.it/500x350">
				</div>
				<div class="project">
					<img src="http://placehold.it/1000x350">
				</div>
				<div class="project">
					<img src="http://placehold.it/450x350">
				</div>
			</div>
		</div>
		<
		<div class="portfolio-buttons">
			<button type="button" name="button" class="classic-button">DOWNLOAD CV</button>
			<button type="button" name="button" class="classic-button">SEE MY GITHUB</button>
		</div>
		<div class="portfolio-projects">

		</div>
	</div>
	<footer></footer>
</div>
