<div id="wrapper">
	<nav-bar></nav-bar>

	<div id="content" class="portfolio">

		<div class="portfolio-container">
			<div class="portfolio-heading">
				<h1>Taryn Gabbert is a freelance web developer and entrepreneur living in Dallas, TX.</h1>

				<div class="portfolio-work">
					<!-- TWO PROJECT ON ONE ROW -->
					<div class="portfolio-project">
						<a href="/#/portfolio/spotAssign">
							<div class="contain">
								<div class="project" id="spot-assign">
									<img src="assets/images/projects/spotaccessmark_icon.png">
								</div>
								<div class="project-hover">
									<p>
										SPOT ASSIGN
									</p>
								</div>
							</div>
						</a>
					</div>
					<div class="portfolio-project">
						<a href="/#/portfolio/doggieDaycare">
							<div class="contain">

								<div class="project" id="doggie-daycare">
									<img src="assets/images/projects/french-bulldog-image.png">
								</div>

								<div class="project-hover">
									<p>
										DOGGIE DAYCARE
								</div>

							</div>
						</a>
					</div>
					<!-- ONE LARGE PROJECT -->
					<div class="portfolio-project">
						<a href="/#/portfolio/doggieDaycare">
							<div class="contain-medium">

								<div class="project" id="project-three">
									<img src="assets/images/projects/banner-dallas.png">
								</div>

								<div class="project-hover">
									<p>
										THIRD PROJECT
									</p>
								</div>

							</div>
						</a>
					</div>
					<!-- FOUR SMALL PROJECTS -->
					<div class="portfolio-project">
						<a href="/#/portfolio/doggieDaycare">
							<div class="contain-small">

								<div class="project" id="sass">
									<img src="assets/images/projects/Sass_Logo_Color.png">
								</div>

								<div class="project-hover">
									<p>
										SASS LESSON
									</p>
								</div>

							</div>
						</a>
					</div>
					<div class="portfolio-project">
						<a href="/#/portfolio/doggieDaycare">
							<div class="contain-small">

								<div class="project" id="MongoDB">
									<img src="assets/images/projects/mongodb-leaf.png">
								</div>

								<div class="project-hover">
									<p>
										MONGODB LESSON
									</p>
								</div>

							</div>
						</a>
					</div>
					<div class="portfolio-project">
						<a href="/#/portfolio/doggieDaycare">
							<div class="contain-small">

								<div class="project" id="small-3">
									<img src="assets/images/projects/github.png">
								</div>

								<div class="project-hover">
									<p>
										GITHUB LESSON
									</p>
								</div>

							</div>
						</a>
					</div>
					<div class="portfolio-project">
						<a href="/#/portfolio/doggieDaycare">
							<div class="contain-small">

								<div class="project" id="small-4">
									<img src="assets/images/projects/Elephant_clipart.png">
								</div>

								<div class="project-hover">
									<p>
										SOMETHING
									</p>
								</div>

							</div>
						</a>
					</div>
				</div>
			</div>

			<!-- <div class="portfolio-buttons">
				<button type="button" name="button" class="classic-button">DOWNLOAD CV</button>
				<button type="button" name="button" class="classic-button">SEE MY GITHUB</button>
			</div>
			<div class="portfolio-projects">

			</div> -->
		</div>




	</div>

	<footer></footer>
</div>
